<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="behind">
    <div class="w-100">
        <h2 class="mb-5">Behind the Scenes</h2>

        <h3>How I created this site using primarily Ruby on Rails</h3>

        <p>
            I started creating this Rails app in February 2019 to become familiar with programming mainly in Ruby on Rails and deploying code to Heroku. 
            As an intern at CareerPlug, I was granted access to <a target="_blank" href="https://pragmaticstudio.com/courses/rails">The Pragmatic Studio</a>'s "Ruby on Rails: Level I and II" courses. 
            This allowed me to quickly learn a new programming language. CareerPlug's Product team also invited me to share ideas about this site during stand-ups and code reviews.
             The team members helped facilitate agile programming best practices and suggested specific tools to use for this project.
        </p>

        <p>
            I began with a new skeleton Rails app and then added a few controllers and views, static text, and page-turning links.
             This project really started to come together after I settled on a Start Bootstrap template called "Resume".
              I imported all HTML, CSS, SCSS, JavaScript, Bootstrap, jQuery, and Font Awesome files and dependencies into my project (all available to me under the <a target="_blank" href="https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE">MIT License</a>).
        </p>

        <p>
            The template allowed me to focus on providing a scrolling one-page site structure that helped me clearly identify each section.
             I was also able to change the color scheme to fit the site’s purpose.
             With CareerPlug's guidance I implemented models, an e-mail contact form, and admin functionalities to let me edit the site on the fly once deployed.
             I originally started with a local SQLite3 database, but I have now transitioned into using a local PostgreSQL database and Heroku Postgres DB once deployed.
             The contact form was made with gem 'mail_form' in tandem with Heroku's plugin SendGrid. I completed unit testing with RSpec and Capybara while checking test coverage progress with SimpleCov. 
             I tracked down security vulnerabilities using Brakeman.
        </p>

        <p><i class="fas fa-chevron-circle-right"></i> The codebase can be found at <a target="_blank" href="https://github.com/LeoShueSchuster/my_portfolio_site">GitHub</a>.</p>
        <p><i class="fas fa-chevron-circle-right"></i> This site template is from <a target="_blank" href="https://startbootstrap.com/themes/resume/">Start Bootstrap</a>.</p>
    </div>
</section>