<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="behind">
    <div class="w-100">
        <h2 class="mb-5">Behind the Scenes</h2>

        <h3>How I created this site using primarily Ruby on Rails</h3>

        <p>
            I started this Rails app in February 2019 to become familiar with programming mainly in Ruby on Rails and deploying code to Heroku.
            CareerPlug granted me access to <a target="_blank" href="https://pragmaticstudio.com/courses/rails">The Pragmatic Studio</a>'s "Ruby on Rails: Level I and II" courses
            which allowed me to quickly learn a new programming language. CareerPlug's Product team welcomed me to bounce off ideas during stand-ups and code reviews.
            The team members also helped facilitate agile programming best practices and suggested which tools to use for this project.
        </p>

        <p>
            I began with a new skeleton Rails app where I added a few controllers and views, static text, and page-turning links.
            This project made a drastic change in productivity after I settled on a Start Bootstrap template called "Resume". I imported all HTML, CSS, SCSS, JavaScript, Bootstrap, jQuery, and Font Awesome
            files and dependencies into my project (all available to me under the <a target="_blank" href="https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE">MIT License</a>).
        </p>

        <p>
            The template kept me focused by providing a scrolling one-page site structure where I knew what I had to do next.
            I changed the color scheme to fit my taste. With CareerPlug's guidance I implemented models, an e-mail contact form, and admin functionalities to let me edit on the fly.
        </p>

        <p><i class="fas fa-chevron-circle-right"></i> The codebase can be found at <a target="_blank" href="https://github.com/LeoShueSchuster/my_portfolio_site">GitHub</a>.</p>
        <p><i class="fas fa-chevron-circle-right"></i> This site template is from <a target="_blank" href="https://startbootstrap.com/themes/resume/">Start Bootstrap</a>.</p>
    </div>
</section>