<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Texas State University - San Marcos, TX</h3>
            <div class="subheading mb-3">Bachelor of Science - Computer Science</div>
            <div><i class="fas fa-chevron-circle-right"></i> Minor in Applied Mathematics<br>
                 <i class="fas fa-chevron-circle-right"></i> Relevant Coursework: Software Engineering, Unix Systems Programming, Computer System Security</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Austin Community College - Austin, TX</h3>
            <div class="subheading mb-3">Associate of Applied Science - Music Business, Performance and Technology<br><br></div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Professional Development</h3>
            <div class="subheading mb-3"><a target="_blank" href="http://linuxacademy.com">Linux Academy</a></div>
            <div>Linux Academy is the foremost online Linux and cloud training program and community.<br><br>
              I have completed the following courses:<br>
              <i class="fas fa-chevron-circle-right"></i> AWS Essentials<br>
              <i class="fas fa-chevron-circle-right"></i> LPI Linux Essentials<br>
              <i class="fas fa-chevron-circle-right"></i> Docker Quick Start<br>
              <i class="fas fa-chevron-circle-right"></i> AWS Concepts<br><br>
            </div>

            <div class="subheading mb-3"><a target="_blank" href="http://pragmaticstudio.com">The Pragmatic Studio</a></div>
            <div>The Pragmatic Studio is where developers come to learn, practice, and improve their craft.<br><br>
              I have completed the following courses:<br>
              <i class="fas fa-chevron-circle-right"></i> Ruby on Rails: Level II<br>
              <i class="fas fa-chevron-circle-right"></i> Ruby on Rails: Level I<br><br>
            </div>

            <div class="subheading mb-3"><a target="_blank" href="http://udemy.com">Udemy</a></div>
            <div>Udemy is an online learning and teaching marketplace with over 100,000 courses and 24 million students. Learn programming, marketing, data science and more.<br><br>
              I have completed the following course:<br>
              <i class="fas fa-chevron-circle-right"></i> Java Programming Masterclass for Software Developers<br>
            </div>
          </div>
        </div>

    </div>
</section>