<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Texas State University - San Marcos, TX</h3>
            <div class="subheading mb-3">Bachelor of Science - Computer Science</div>
            <div><i class="fas fa-chevron-circle-right"></i> Minor in Applied Mathematics<br>
                 <i class="fas fa-chevron-circle-right"></i> Relevant Coursework: Software Engineering, Unix Systems Programming, Computer System Security</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Austin Community College - Austin, TX</h3>
            <div class="subheading mb-3">Associate of Applied Science - Music Business, Performance and Technology<br><br></div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Professional Development</h3>
            <div class="subheading mb-3"><a target="_blank" href="http://linuxacademy.com">Linux Academy</a></div>
            <div>
              <i class="fas fa-chevron-circle-right"></i> Completed AWS Essentials, LPI Linux Essentials, Docker Quick Start, AWS Concepts<br><br>
            </div>

            <div class="subheading mb-3"><a target="_blank" href="http://pragmaticstudio.com">The Pragmatic Studio</a></div>
            <div>
              <i class="fas fa-chevron-circle-right"></i> Completed Ruby on Rails: Level I and II<br><br>
            </div>

            <div class="subheading mb-3"><a target="_blank" href="http://udemy.com">Udemy</a></div>
            <div>
              <i class="fas fa-chevron-circle-right"></i> Completed Java Programming Masterclass for Software Developers
            </div>
          </div>
        </div>

    </div>
</section>