<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Texas State University - San Marcos, TX</h3>
            <div class="subheading mb-3">Bachelor of Science - Computer Science</div>
            <div>• Overall GPA: 3.19<br>
                 • Minor in Applied Mathematics<br>
                 • Relevant Coursework: Software Engineering, Unix Systems Programming, Computer System Security</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Austin Community College - Austin, TX</h3>
            <div class="subheading mb-3">Associate of Applied Science - Music Business, Performance and Technology</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016</span>
          </div>
        </div>

    </div>
</section>