<h2 class="mb-5">Audio Visual Production Projects</h2>
<p>Here is a list of projects I have been working on over the years.</p>
<hr>
<p>
    <li>Check out The Latinx Mental Health Podcast Promo!</li><br/>
    <audio src="<%= audio_path 'Promo 2.17.18.mp3'%>" type="audio/mpeg" controls>
        Your browser does not support the audio element.
    </audio>
</p>
<hr>