<%-# Home page -%>
<center>
    <%= render 'navbar' %>

    <h1>Leo Shue Schuster</h1>
    <%= image_tag("LeoPeruEdited.jpg", size: "250x250") %>
    <p>
        Hi! I’ve been living in Austin for 17 years. 
        I recently graduated from Texas State University with a bachelor’s degree in Computer Science. 
        I enjoy spending my free time playing board games, going on hikes, and recording podcasts.
    </p>
</center>