<%-# Resume page -%>
<center>
    <%= render 'navbar' %>

    <h1>Resume</h1>

    <li><%= link_to("View Resume as PDF", resume_view_path) %></li>

    <%= image_tag("leo_resume.jpg", size: "800x1000") %>
</center>