/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .hidden {
    display: none;
 }

 .flash {
   color: rgb(0, 0, 0);
   border-radius: 4px;
   padding: 10px;
   margin: 0;
   text-align: center;
   text-transform: uppercase;
   box-shadow: #ffc 0 0 4px;
  
   &.notice {
     background-color: rgba(14, 134, 30, 0.5);
   }
  
   &.alert {
     background-color: rgb(255, 0, 0);
   }
  }